<h1>Add Articule</h1>

<%= form_for :articule, url: articules_path do |f| %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :text %><br>
        <%= f.text_field :text %>
    </p>
    <p>
        <%= f.submit %>        
    </p>
<% end %>
